
$primary-color: #293E59;
$secondary-color: #FFFFFF;
$third-color: #484A54;
$fourth-color: #18A6DE;
$fifth-color: #9B9B9B;
$sixth-color: #80C7E5;
$seventh-color: #CACACA;
$octave-color: #4399C6;
$ninth-color: #F2F4F6;